<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Administrator</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" crossorigin="anonymous">

  <style>
    /* #页面头部的相关样式。 */
    #editor_switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
      margin: 20px 0px 0px 30px;
    }

    #editor_switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    #editor_switch .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #cccccc6d;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 34px;
    }

    #editor_switch .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: rgba(255, 255, 255, 0.547);
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%;
    }

    #editor_switch input:focus+.slider {
      box-shadow: 0 0 2px #2196F3;
    }

    #editor_switch input:checked+.slider {
      background-color: #2196F3;
    }

    #editor_switch input:checked+.slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    div.page-header {
      /* display: inline-flex; */
      width: 800px;
      margin: auto;
    }
    /* end #页面头部的相关样式。  */



    h1 {
      text-align: center;
      font-size: 2em;
      margin-block-start: 0.2em;
      margin-block-end: 0.4em;
    }

    div.container {
      display: flex;
      justify-content: center;
    }

    div>div.left {
      width: 125px;
      float: left;



    }

    div.item {
      background-color: rgb(228, 232, 232);
      float: left;
      width: 56px;
      height: 38px;
      margin: 2px;
      border-radius: 6px;
      font-size: medium;
      text-align: center;
      line-height: 40px;
      vertical-align: middle;

      overflow: hidden;
      white-space: nowrap;
      /* text-overflow: ellipsis; */
    }


    table {
      border: 1px solid black;
      border-spacing: 1px;
      /* border-collapse: collapse; */

    }

    th,
    td {
      border: 1px solid grey;
      width: 60px;
      height: 42px;
      padding: 2px;
    }

    .drag-enter {
      background-color: rgba(103, 103, 103, 0.3);
    }

    .th_date {
      font-size: small;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      color: #e00c08;
    }

    div.item.color1 {
      background-color: #fb3135a1;
    }

    div.item.color2 {
      background-color: #e1580ea1;
    }

    div.item.color3 {
      background-color: #d4ab07a1;
    }

    div.item.color4 {
      background-color: #9ccd16a1;
    }

    div.item.color5 {
      background-color: #20bf12a1;
    }

    div.item.color6 {
      background-color: #12bf94a1;
    }

    div.item.color7 {
      background-color: #12a2bfa1;
    }

    div.item.color8 {
      background-color: #125dbfa1;
    }

    div.item.color9 {
      background-color: #1227e8a1;
    }

    div.item.color10 {
      background-color: #8812e8a1;
    }

    div.item.color11 {
      background-color: #c112e8a1;
    }

    div.item.color12 {
      background-color: #e812dda1;
    }

    div.item.color13 {
      background-color: #e60970b0;
    }

    div.item.color14 {
      background-color: #800723a1;
    }

    div.item.color15 {
      background-color: #120648a1;
    }

    div.item.color16 {
      background-color: #175105a1;
    }

    div.item.color17 {
      background-color: #58034ba1;
    }

    div.item.color18 {
      background-color: #0b20044e;
    }

    div.item.color19 {
      background-color: #ddd5616f;
    }

    div.item.color20 {
      background-color: #8de0726f;
    }
  </style>

<!-- 外部引用vue的结构。 -->
  <script defer="defer" src="/js/chunk-vendors.8da5ec48.js"></script>
  <script defer="defer" src="/js/app.d44d0c5a.js"></script>
  <link href="/css/app.0f9bd2d3.css" rel="stylesheet">

<!-- 格外添加的微调样式。主要是调整vue里边的个别样式。 -->
<style>
div.container2 td,div.container2 th{
width: 75px;
height: 54px;
vertical-align: middle;
}
/* Container2里边的每一个职位段上的抬头。 */
tr.header-date td,tr.header-date th{
  border: none;
height: 15px;
}
tr.header-date>td{
  font-size: 12px;
  padding: 0px 3px;
}
</style>
</head>

<body>
  <!-- 页面头部。 -->
  <div class="page-header">
  <!-- 页头的切换按钮。 -->
    <div style="width: 200px;">
      <label id="editor_switch">
        <input onchange="checkChange()" type="checkbox">
        <span class="slider"></span>
      </label>
      编辑方式转换
    </div>
    <h1>workSchedule</h1>
  </div>

  <!-- 主页面 编辑页面一 -->
  <div class="container">
    <div data-dropif="move" class="left">
      <button type="button" class="btn btn-primary btn-sm" onclick="gopage1()">员工表</button>
      <button type="button" class="btn btn-primary btn-sm" onclick="gopage2()">班次表</button>
      <br>
      FT
      <div data-dropif="move" class="left">


        <!-- <div data-effect="copy" draggable="true" class="color1 item" data-idnum="2301">1</div>
        <div data-effect="copy" draggable="true" class="color2 item" data-idnum="2302">2</div>
        <div data-effect="copy" draggable="true" class="color3 item" data-idnum="2303">3</div>
        <div data-effect="copy" draggable="true" class="color4 item" data-idnum="2304">4</div>
        <div data-effect="copy" draggable="true" class="color5 item" data-idnum="2305">5</div>
        <div data-effect="copy" draggable="true" class="color6 item" data-idnum="2306">6</div>
        <div data-effect="copy" draggable="true" class="color7 item" data-idnum="2307">7</div> -->


      </div>
      <br>
      PT
      <div data-dropif="move" class="left">


        <!-- <div data-effect="copy" draggable="true" class="color11 item" data-idnum="2311">11</div>
        <div data-effect="copy" draggable="true" class="color12 item" data-idnum="2312">12</div>
        <div data-effect="copy" draggable="true" class="color13 item" data-idnum="2313">13</div>
        <div data-effect="copy" draggable="true" class="color14 item" data-idnum="2314">14</div>
        <div data-effect="copy" draggable="true" class="color15 item" data-idnum="2315">15</div>
        <div data-effect="copy" draggable="true" class="color16 item" data-idnum="2316">16</div>
        <div data-effect="copy" draggable="true" class="color17 item" data-idnum="2317">17</div>
        <div data-effect="copy" draggable="true" class="color18 item" data-idnum="2318">18</div>
        <div data-effect="copy" draggable="true" class="color19 item" data-idnum="2319">19</div>
        <div data-effect="copy" draggable="true" class="color20 item" data-idnum="2320" hidden>20</div> -->


      </div>
    </div>
    <div class="right">
      <div style="display: flex; justify-content: space-between;">
        <div style="display: block;">
          <input type="date" id="dateInput">
          <button onclick="goUp()">上周</button>
          <button onclick="goDown()">下周</button>
          <button onclick="goNow()">now本周</button>
        </div>
        <div style="display: block;">

          <!-- 模态对话框 -->
          <div id="myModal" class="modal modal-sm"
            style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <div class="modal-content">
              <span class="close">&times;</span>
              <input type="date" id="datePicker">
              <button onclick="confirmDate()">确认插入日期</button>
            </div>
          </div>
          <!-- 按钮 -->
          <button id="btnChange">插入指定周的数据</button>
        </div>



      </div>
      <table>
        <!-- 列的分组 -->
        <colgroup>
          <col />
          <col />
          <col />
          <col />
          <col />
          <col />
          <col />
          <col />
        </colgroup>
        <thead>
          <tr>
            <td colspan="2" data-time="date">
              周一:
              <span class="th_date" id="table_date"></span>
              至周日:
              <span class="th_date"></span>
            </td>
            <th>Mon</th>
            <th>Thu</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th rowspan="5" class="span">上午 am</th>
            <th>HS</th>
            <td data-dropif="copy" data-pos="host" data-time="mon_am"></td>
            <td data-dropif="copy" data-pos="host" data-time="tue_am"></td>
            <td data-dropif="copy" data-pos="host" data-time="wed_am"></td>
            <td data-dropif="copy" data-pos="host" data-time="thu_am"></td>
            <td data-dropif="copy" data-pos="host" data-time="fri_am"></td>
            <td data-dropif="copy" data-pos="host" data-time="sat_am"></td>
            <td data-dropif="copy" data-pos="host" data-time="sun_am"></td>
          </tr>
          <tr>
            <th>BT</th>
            <td data-dropif="copy" data-pos="bartender" data-time="mon_am"></td>
            <td data-dropif="copy" data-pos="bartender" data-time="tue_am"></td>
            <td data-dropif="copy" data-pos="bartender" data-time="wed_am"></td>
            <td data-dropif="copy" data-pos="bartender" data-time="thu_am"></td>
            <td data-dropif="copy" data-pos="bartender" data-time="fri_am"></td>
            <td data-dropif="copy" data-pos="bartender" data-time="sat_am"></td>
            <td data-dropif="copy" data-pos="bartender" data-time="sun_am"></td>
          </tr>
          <tr>
            <th>SV</th>
            <td data-dropif="copy" data-pos="server" data-time="mon_am"></td>
            <td data-dropif="copy" data-pos="server" data-time="tue_am"></td>
            <td data-dropif="copy" data-pos="server" data-time="wed_am"></td>
            <td data-dropif="copy" data-pos="server" data-time="thu_am"></td>
            <td data-dropif="copy" data-pos="server" data-time="fri_am"></td>
            <td data-dropif="copy" data-pos="server" data-time="sat_am"></td>
            <td data-dropif="copy" data-pos="server" data-time="sun_am"></td>
          </tr>
          <tr>
            <th>BS</th>
            <td data-dropif="copy" data-pos="busser" data-time="mon_am"></td>
            <td data-dropif="copy" data-pos="busser" data-time="tue_am"></td>
            <td data-dropif="copy" data-pos="busser" data-time="wed_am"></td>
            <td data-dropif="copy" data-pos="busser" data-time="thu_am"></td>
            <td data-dropif="copy" data-pos="busser" data-time="fri_am"></td>
            <td data-dropif="copy" data-pos="busser" data-time="sat_am"></td>
            <td data-dropif="copy" data-pos="busser" data-time="sun_am"></td>
          </tr>
          <tr>
            <th>TN</th>
            <td data-dropif="copy" data-pos="trainee" data-time="mon_am"></td>
            <td data-dropif="copy" data-pos="trainee" data-time="tue_am"></td>
            <td data-dropif="copy" data-pos="trainee" data-time="wed_am"></td>
            <td data-dropif="copy" data-pos="trainee" data-time="thu_am"></td>
            <td data-dropif="copy" data-pos="trainee" data-time="fri_am"></td>
            <td data-dropif="copy" data-pos="trainee" data-time="sat_am"></td>
            <td data-dropif="copy" data-pos="trainee" data-time="sun_am"></td>
          </tr>
          <tr>
            <td style="height: 5px;" colspan="9"></td>
          </tr>
          <tr>
            <th rowspan="5" class="span">下午 pm</th>
            <th>HS</th>
            <td data-dropif="copy" data-pos="host" data-time="mon_pm"></td>
            <td data-dropif="copy" data-pos="host" data-time="tue_pm"></td>
            <td data-dropif="copy" data-pos="host" data-time="wed_pm"></td>
            <td data-dropif="copy" data-pos="host" data-time="thu_pm"></td>
            <td data-dropif="copy" data-pos="host" data-time="fri_pm"></td>
            <td data-dropif="copy" data-pos="host" data-time="sat_pm"></td>
            <td data-dropif="copy" data-pos="host" data-time="sun_pm"></td>
          </tr>
          <tr>
            <th>BT</th>
            <td data-dropif="copy" data-pos="bartender" data-time="mon_pm"></td>
            <td data-dropif="copy" data-pos="bartender" data-time="tue_pm"></td>
            <td data-dropif="copy" data-pos="bartender" data-time="wed_pm"></td>
            <td data-dropif="copy" data-pos="bartender" data-time="thu_pm"></td>
            <td data-dropif="copy" data-pos="bartender" data-time="fri_pm"></td>
            <td data-dropif="copy" data-pos="bartender" data-time="sat_pm"></td>
            <td data-dropif="copy" data-pos="bartender" data-time="sun_pm"></td>
          </tr>
          <tr>
            <th>SV</th>
            <td data-dropif="copy" data-pos="server" data-time="mon_pm"></td>
            <td data-dropif="copy" data-pos="server" data-time="tue_pm"></td>
            <td data-dropif="copy" data-pos="server" data-time="wed_pm"></td>
            <td data-dropif="copy" data-pos="server" data-time="thu_pm"></td>
            <td data-dropif="copy" data-pos="server" data-time="fri_pm"></td>
            <td data-dropif="copy" data-pos="server" data-time="sat_pm"></td>
            <td data-dropif="copy" data-pos="server" data-time="sun_pm"></td>
          </tr>
          <tr>
            <th>BS</th>
            <td data-dropif="copy" data-pos="busser" data-time="mon_pm"></td>
            <td data-dropif="copy" data-pos="busser" data-time="tue_pm"></td>
            <td data-dropif="copy" data-pos="busser" data-time="wed_pm"></td>
            <td data-dropif="copy" data-pos="busser" data-time="thu_pm"></td>
            <td data-dropif="copy" data-pos="busser" data-time="fri_pm"></td>
            <td data-dropif="copy" data-pos="busser" data-time="sat_pm"></td>
            <td data-dropif="copy" data-pos="busser" data-time="sun_pm"></td>
          </tr>
          <tr>
            <th>TN</th>
            <td data-dropif="copy" data-pos="trainee" data-time="mon_pm"></td>
            <td data-dropif="copy" data-pos="trainee" data-time="tue_pm"></td>
            <td data-dropif="copy" data-pos="trainee" data-time="wed_pm"></td>
            <td data-dropif="copy" data-pos="trainee" data-time="thu_pm"></td>
            <td data-dropif="copy" data-pos="trainee" data-time="fri_pm"></td>
            <td data-dropif="copy" data-pos="trainee" data-time="sat_pm"></td>
            <td data-dropif="copy" data-pos="trainee" data-time="sun_pm"></td>
          </tr>
        </tbody>
      </table>
      <br>
      <input id="btn" type="button" value="update修改">
    </div>
  </div>

  <!-- 副页面 编辑页面二 -->
  <div class="container2">
  <!-- 容器 -->
  <div id="app"></div>
</div>

<!-- 页面脚本 editor-switch功能实现-->
<script>
  let editorInput = document.querySelector("#editor_switch>input");
  let containerDiv = document.querySelector("div.container");
  let containerDiv2 = document.querySelector("div.container2");
  // 初始化副页面为隐藏。
  containerDiv2.hidden = true;
  console.log(containerDiv2);

  function checkChange() {
    if (editorInput.checked) {
      containerDiv.hidden = true;
      containerDiv2.hidden = false;
      //! 切到第二编辑页面的时候，重新加载第二页面。
      //A的ID#refreshPageDate,A元素身上带有刷新页面事件
      let refreshElement = document.getElementById("refreshPageDate");
      console.log(refreshElement);

      // 创建一个点击事件对象
      let clickEvent = new MouseEvent("click", {
        bubbles: true,
        cancelable: true,
      });

      // 触发 A 元素的点击事件
      refreshElement.dispatchEvent(clickEvent);

    } else {
      containerDiv.hidden = false;
      containerDiv2.hidden = true;
    //! 切换回来的时候，重新加载页面
      //先清楚tableCell原有数据
      clearTable();
      //再重新填充tableCell数据
      tableData_onload(date);
    }

  }
  // console.log(editorInput.checked, containerDiv.style.display);

</script>


  <!--路径for服务器 -->

  <script type="text/javascript" src="/javascripts/assets/dateTrans_module.js"></script>

  <script type="text/javascript" src="/javascripts/dragTable/dragblock_onload.js"></script>
  <script type="text/javascript" src="/javascripts/dragTable/tableData_onload.js"></script>
  <script type="text/javascript" src="/javascripts/dragTable/dragTable.js"></script>
  <script type="text/javascript" src="/javascripts/dragTable/submitData.js"></script>
</body>

</html>