<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    crossorigin="anonymous">
<style>
div.container{
  width: 780px;
  height: 700px;
  background-image:  url("/images/a-book-3246278.webp");
  background-repeat: no-repeat;
  background-size:contain;

}
</style>
  <title>register</title>
</head>

<body>
  <div class="container">
    <div class="headcontainer">
      <div class="col left"></div>
      <div class="col right"></div>
    </div>
    <div class="bodycontainer">
      
      <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-7">
          <br>
          <div class="row" style="display: flex;justify-content: center;"><h3>Sign Up New Account</h3></div><a href="/users/login">login 登录</a>

          <!-- 表单start -->
          <form method="post" action="/acc/register">
            <br>
            <div class="form-group row" style="display: flex;align-items: center;">
              <label for="inputName" class="col-sm-2 col-form-label">User name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputName" name="username" placeholder="Name">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
              </div>
            </div>
            <fieldset class="form-group">
              <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Role</legend>
                <div class="col-sm-10">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="role" id="gridRoles1" value="administer"
                      checked>
                    <label class="form-check-label" for="gridRoles1">
                      Administer
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="role" id="gridRoles2" value="user">
                    <label class="form-check-label" for="gridRoles2">
                      User
                    </label>
                  </div>
                  <div class="form-check disabled">
                    <input class="form-check-input" type="radio" name="role" id="gridRoles3" value="others"
                      disabled>
                    <label class="form-check-label" for="gridRoles3">
                      Other roles
                    </label>
                  </div>
                </div>
              </div>
            </fieldset>
            <div class="form-group row">
              <label for="inputEmail" class="col-sm-2 col-form-label">Token</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputToken" name="token" placeholder="token" autocomplete="off">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-2">Attention</div>
              <div class="col-sm-10"style="display: flex;align-items: flex-end;">
                <div class="form-check" >
                  <input class="form-check-input" type="checkbox" id="gridCheck">
                  <label class="form-check-label" for="gridCheck">
                    This is for sakura people ordering the schedule
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Sign up</button>
              </div>
            </div>
          </form>
<!-- 表单end -->

        </div>
      </div>


    </div>
    <div class="footer">

    </div>
  </div>



  <!-- 引入 jQuery 和 Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>